<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.Admin_Dao">

    <select id="find_Admin_By_Id" resultType="Admin">
        select * from admin where admin_id=#{admin_id}
    </select>

    <select id="find_Admin_All" resultType="Admin">
        select * from admin
    </select>


</mapper>
    
    
 